/Planet_Notebooks/*
*.ini
geowombat_testing.py
dswe-ps-py311.yml
prelim_basemap_composites.ipynb
*.gz
basemaps*/*
*.tif
*.geojson
gdal*
__pycache__
api*
*/wrong*/
*.bib
*.pptx
explore_basemaps.ipynb
reclass_resamp_qgis.py
/random_forest/generate_random_points.py
/random_forest/accuracy_assessments/wrong_PixelCount/*
/random_forest/confusion_matrix/wrong_PixelCount/*
zip_data.py